package task

import (
	"context"
	"fmt"
	servicePb "git.bilibili.co/platform/api-gateway/app/demo/service/api"
)


func (p *TaskFlow) SayWorld1(ctx context.Context, req *servicePb.HelloReq) (reply *WorldResp, err error) {
	reply = &WorldResp{
		Content: fmt.Sprintf("hello SayWorld1 %s", req.Name),
	}
	return
}

func (p *TaskFlow) SayWorld2(ctx context.Context, req *WorldResp) (reply *servicePb.HelloResp, err error) {
	reply = &servicePb.HelloResp{
		Content: fmt.Sprintf("hello SayWorld2 %s", req.Content),
	}
	return
}
